body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*///////////////////////// Estilos generales /////////////////////////*/
body, html{
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 16px;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    color: #333;
}
.full-width{
    margin: 0;
    padding: 0;
    width: 100%;
}
.center-box{
    margin:0 auto;
}
.font-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #fff;
}
/*====== Backgrouns color*/
.bg-primary {
    background-color: #2e6da4 !important;
}
.bg-success {
    background-color: #3f903f !important;
}
.bg-danger {
    background-color: #d9534f !important;
}
.bg-info {
    background-color: #5bc0de !important;
}
.NavLateral,
.ContentPage{
    position: absolute;
    top: 0;
    height: 100%;
}
/*====== Navegación lateral*/
.NavLateral{
    left: 0;
    width: 15%;
}
.NavLateral-content{
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: #000;
    color: #C7C5C7;  
}
.NavLateral-title{
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #000;
    font-size: 25px;
}
.NavLateral-title-btn{
    opacity: 0;
}
.NavLateral-logo{
    padding: 2px 0;
    color: #000;
    background-color: black;
}
.NavLateral-logo img{
    width: 100%;
    height: auto;
    display: block; 
    margin-bottom: 5px;
    
}
.NavLateralDivider{
    height: 0 !important;
    width: 95% !important;
    background-color: transparent;
    border: none; 
    border-top: 1px solid rgba(0,0,0,0.9);
    border-bottom:1px solid rgba(255,255,255,0.08);
    margin: 0 auto !important;  
}
.NavLateral-Nav ul li{
    height: auto;
    margin: 0;
    padding: 0;
}
.NavLateral-Nav ul li a{
    height: 45px;
    line-height: 45px;
    width: 100%;
    font-size: 14px;
    padding-left: 9px;
    display: block;
    color: #C7C5C7;
    transition: all .3s ease-in-out;
}
.NavLateral-Nav ul li a i{
    font-size: 18px;
}
.NavLateral-Nav ul li a:hover{
    color: #FFF;  
    background-color: rgb(45,45,45); 
}
.NavLateral-CaretDown{
    float: right;
    line-height: 45px;
    margin-right: 9px;
    font-size: 20px !important;  
}
.NavLateral-CaretDownRotate{
    transform: rotate(-180deg);   
}
.NavLateral-Nav > ul > li > ul{
    background-color: rgb(38,50,56);
    display: none;
}
.NavLateral-Nav > ul > li > ul > li > a{
    padding-left: 19px;
}
/*====== Contenido de página*/
.ContentPage{
   background-image: url();
    right: 0; 
    width: 85%;
}
.ContentPage-Nav{
    height: 50px;
    background-color: #000;
    position: relative;    
}
.ContentPage-Nav ul{
    height: 50px;
    padding-right: 9px; 
    position: relative;   
}
.ContentPage-Nav ul li{
    height: 50px;
    float: right;
    min-width: 50px;
    color: #FFF ; 
    position: relative;
    line-height: 50px; 
}
.ContentPage-Nav ul li a{
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    color: #C7C5C7;
    font-size: 25px;
    position: relative;
}

.ContentPage-Nav ul li a:hover{
    color: #C7C5C7;   
}
.ContentPage-Nav ul li a:active,
.ContentPage-Nav ul li a:focus{
    outline: none;
}
.ContentPage-Nav ul li figure{
    margin: 0;
    padding: 0 5px;
}
.ContentPage-Nav ul li figure img{
    width: 40px;
    height: 40px;
    margin-top: 5px;   
}
.ContentPage-Nav-indicator{
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 11px;
    text-align: center;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid rgb(33,33,33);
}
.btn-MobileMenu{
    float: left !important;
    pointer-events: none;
    opacity: 0;
}
/*====== Area de notificacion*/
.NotificationArea{
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 300px;
    top: 0;
    right: -300px;
    z-index: 999;
    transition: all .3s ease-in-out;
}
.NotificationArea-title{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E1E1E1;
}
.NotificationArea-title i{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 25px;
    cursor: pointer;
}
.Notification,
.Notification-icon,
.Notification-text{
    margin: 0;
    padding: 0;
    height: 84px;
}
.Notification{
    position: relative;
    display: block;
    width: 100%;
    border-top: 1px solid #f3f3f3;
    color: #2b2b2c;
    font-size: 14px;
}
.Notification small{
    color: #BDBDBD;
}
.Notification-icon,
.Notification-text{
    position: absolute;
    top: 0;
}
.Notification-icon{
    width: 70px;
    left: 0;
}
.Notification-icon i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-left: 10px;
    margin-top: 17px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #D9534F;
    border-radius: 50%;
}
.Notification-icon i.info{
    background-color: #5BC0DE;
}
.Notification-icon i.info{
    background-color: #5BC0DE;
}
.Notification-text{
    width: 230px;
    right: 0;
}
.NotificationArea-show{
    right: 0;
}
/*====== Pie de página*/
.footer-MaterialDark{
    overflow: hidden;
    background-color: #000;
    padding-top: 20px;
    margin-top: 20px;
    color: #fff;
}
.footer-copyright{
    height: 50px;
    line-height: 50px;
    font-weight: 300;
    
}

/*///////////////////////// Estilos home.html /////////////////////////*/
/*====== Tile*/
.tile,
.tile-icon,
.tile-caption,
.tile-link{
    margin: 0;
    padding: 0;
}
.tile-icon,
.tile-caption{
    height: 110px;
    position: absolute;
    top: 0;
    color: #7683CA;
}
.tile{
    margin: 5px;
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #000;
    position: relative;
}
.tile-icon{
    left: 0;
    width: 100px;   
}
.tile-icon i{
    height: 100%;
    width: 110px;
    line-height: 110px;
    font-size: 50px;
}
.tile-caption{
    right: 0;
    width: 200px;
}
.tile-caption span{
    height: 60px;
    width: 100%;
    display: block;
    line-height: 60px;
    font-size: 35px;
}
.tile-caption p{
    height: 50px;
    margin: 0;
    padding: 0;
}
.tile-link{
    color: #fff;
    background-color: #3F51B5;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 40px;
    line-height: 40px;
    width: 100%;
    transition: all .3s ease-in-out;
}
.tile-link:active,
.tile-link:focus{
    outline: none;
}
/*====== Timeline*/
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}
.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #4DCCC3;
}
.timeline > li {
    position: relative;
    margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    background-color: #fff;
    width: 44%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}
.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge {
    z-index: 10;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
/*///////////////////////// MediaQueries /////////////////////////*/
@media (max-width: 767px){
    /*===Timeline*/
     ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }
    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
    /*===Generales*/
    .container-login{
        width: 300px;   
    }  
    .NavLateral{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1000;
        pointer-events: none;
        opacity: 0;
    }
    .NavLateral-title-btn{
        opacity: 1;
        cursor: pointer;
        line-height: 50px;
        height: 50px;
        width: 50px;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0; 
    }
    .NavLateral-FontMenu{
        height: 100%;
        position: absolute;
        z-index: 7;
        background-color: #000;
    }
    .NavLateral-content{
        width: 320px;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
    }
    .ContentPage{
        width: 100%;
    }
    .ContentPage-Nav ul li{
        min-width: 40px;
    }
    .ContentPage-Nav ul li a{
        width: 40px;
    }
    .btn-MobileMenu{
        pointer-events: auto;
        opacity: 1;
    }
    .Show-menu{
        pointer-events: auto !important;
        opacity: 1 !important;   
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .NavLateral{
        width: 30%;
    }
    .ContentPage{
        width: 70%;
    }  
}

@media (min-width: 992px) and (max-width: 1199px) {
    .NavLateral{
        width: 25%;
    }
    .ContentPage{
        width: 75%;
    }  
}

@media (min-width: 1200px) {
    
}