article{
	width: 30%;
	height: 20%;
	border-radius: 5px;
	background-color: #2b2828;
	margin: auto auto;
	color: white;
	font-family: Generica;
	font-size: 20px;

}

table{
	border: none;
}

th{
	border: none;
}

#img{
	width: 200px;
	height: 200px;
	border-radius: 5px;
	background-color: #2b2828;
	margin: auto auto;
	background-image: url(../pictures/marce.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

