*{
	margin: 0;
	padding: 0;
	font-family: Generica;
}
body{
	background-image: url(../pictures/tabla.JPG);
	background-size: 100%;
}
div.img{
	background-image: url(..pictures/oregano.JPG);
	overflow: hidden;
	width: 100%;
	height: 100%;
}
div#click1{
	margin:2.5px 15px 2.5px 30px;
	height: 45px;
	width: 250px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #f2f2f2;
	float: left;
	font-size: 40px;
	color: #f2f2f2;
}
div#click2{
	margin:2.5px 15px 2.5px 15px;
	height: 45px;
	width: 150px;
    padding-top: 5px;
	float: left;
	font-size: 30px;
	text-align: center;
	color: #f2f2f2;
}
p.precio{
	font-size: 20px;
	text-align: center;
}
section#pan{
	background-color: blue;
	text-align: center;
	opacity: 0;
	margin-top: 1%;
	margin-left: 58%;
	position: relative;
	z-index: 4;
	height: 700px;
	width: 40%;
	background-color: #f2f2f2;
	border-radius: 10px;
	border-width: 1px;
	box-shadow: inset 0px 0px 20px  gray;
	-webkit-transition:width 1s,margin-left 1s, opacity 1s, z-index .1s,height 1s;
}
section#jamon{
	text-align: center;
	opacity: 0;
	margin-top: 1%;
	margin-left: 58%;
	position: relative;
	z-index: 3;
	margin-top: -700px;
	height: 700px;
	width: 40%;
	background-color: #f2f2f2;
	border-radius: 10px;
	border-width: 1px;
	box-shadow: inset 0px 0px 20px  gray;
	-webkit-transition:width 1s,margin-left 1s, opacity 1s, z-index .1s,height 1s;
}
section#vegetales{
	text-align: center;
	opacity: 0;
	margin-top: 1%;
position: relative;
margin-left: 58%;
	z-index: 2;
	margin-top: -700px;
	height: 700px;
	width: 40%;
	background-color: #f2f2f2;
	border-radius: 10px;
	border-width: 1px;
	box-shadow: inset 0px 0px 20px  gray;
	-webkit-transition:width 1s,margin-left 1s, opacity 1s, z-index .1s,height 1s;
}
section#aderesos{
	text-align: center;
	opacity: 0;
	margin-top: 1%;
	position: relative;
	z-index: 1;
	margin-top: -700px;
	margin-left: 58%;
	height: 700px;
	width: 40%;
	background-color: #f2f2f2;
	border-radius: 10px;
	border-width: 1px;
	box-shadow: inset 0px 0px 20px  gray;
	-webkit-transition:width 1s, margin-left 1s, opacity 1s, z-index .1s,height 1s;
}
div#orden{
	position: relative;
	margin-top: 190px;
	margin-left: 48%;
	margin-right: 2%;
	height: 400px;
	width: 50%;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition: all 1s;
}
div#espacio{
	width: 100%;
	height: 100px;
}
img#tam{
	margin-top: 30%;
   width: 100%;
   height:40%;
}
img#tamaño{
	width: 100%;
	height: 15%;
}
img#tamaño2{
	width: 100%;
	height: 20%;
}
img#tamaño3{
	width: 100%;
	height: 12%;
}
img#tamaño4{
	width: 100%;
	height: 30%;
}
img#tamaño42{
	width: 100%;
	height: 20%;
}
img#tamaño5{
	width: 100%;
	height: 35%;
}
img#tamaño6{
	width: 100%;
	height: 30%;
}
img#tamaño7{
	width: 100%;
	height: 35%;
}
img#tamaño8{
	width: 100%;
	height: 40%;
}
img#tamaño82{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 30%;
}
img#tamaño9{
	width: 100%;
	height: 30%;
}
img#tamaño10{
	margin-left: -30px;
	width: 130%;
	height: 50%;
}
img#tamaño11{
	width: 100%;
	height: 70%;
}
img#tamaño12{
	width: 100%;
	height: 30%;
}
div.off{
	opacity: 0;
}
div.on{
	opacity: 1;
}
div.sombraoff{
	box-shadow:0px 0px 0px  gray;
}
div.sombraon{
	box-shadow: 15px 15px 20px  gray;
}
table{
	width: 100%;
	height: 100%;
}
td.img{
	border-top: 1px solid gray;
	width: 33%;
	font-size: 30px;
}
td.normal{
	border-top: 1px solid gray;
	width: 33%;
	font-size: 30px;
}
p#encabezado{
	font-size: 150px;
	text-align: left;
	margin-left: 20px;
	-webkit-transition: all 1s;
}
p.off2{
	opacity: 1;
}
p.on2{
	opacity: 0;
}
div.plato{
	background-image: url(../pictures/plaato.PNG);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 90%;
	background-size: 100%;
	margin-top: -170px;
}
img#tamañoplato{
	width: 100%;
	height: 100%;
}
div.panselec{
    position: relative;
    z-index: 1;
    background-size: 100%;
    margin-top: -250px;
	margin-right: 7.5%;
	margin-left: 7.5%;
	width: 85%;
	position: relative;
	height: 280px;
	background-repeat: no-repeat;
	background-image:none;
	background-size: 100%;
}
div.jamonselec1{
	background-repeat: no-repeat;
	position: relative;
	margin-top: -260px;
    z-index: 2;
    background-size: 100%;
	margin-right: 21.5%;
	margin-left: 13.5%;
	width: 65%;
	height: 210px;
	background-repeat: no-repeat;
	background-image:none;
}
div.jamonselec2{
	background-repeat: no-repeat;
	position: relative;
    z-index: 2;
    background-size: 100%;
	margin-right: 19.5%;
	margin-left: 15.5%;
	width: 65%;
	margin-top: -190px;
	background-repeat: no-repeat;	
	height: 210px;
	background-image:none;
}
div.jamonselec3{
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
    z-index: 2;
	margin-right: 15.5%;
	margin-left: 19.5%;
	width: 65%;
	margin-top: -190px;
	background-repeat: no-repeat;
	height: 210px;
	background-image:none;
}

div.jamonselec4{
	background-size: 100%;
background-repeat: no-repeat;
	position: relative;
    z-index: 2;
	margin-right: 13.5%;
	margin-left: 21.5%;
	width: 65%;
	margin-top: -190px;
	height: 210px;
	background-image:none;
}
div.vegetalselec1{
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: -140px;
	position: relative;
    z-index: 7;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	height: 130px;
	background-image:none;
}
div.vegetalselec2{
	background-size: 100%;
	background-repeat: no-repeat;
position: relative;
margin-top: -130px;
    z-index: 6;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	height: 130px;
	background-image:none;
}
div.vegetalselec3{
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -128px;
    z-index: 5;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	height: 130px;
	background-image:none;
}
div.vegetalselec4{
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -126px;
    z-index: 4;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	height: 130px;
	background-image:none;
}
div.vegetalselec5{
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -122px;
    z-index: 3;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;	height: 130px;
	background-image:none;
}
div.aderezoselec1{
	background-image:none; 
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top:200px;
	position: relative;
    z-index: 11;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	height: 150px;
	-webkit-transition:all 1s;
}
div.aderezoselec2{
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -150px;
    z-index: 10;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	height: 150px;
	background-image:none; 
}
div.aderezoselec3{
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -120px;
    z-index: 9;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	height: 150px;
	background-image:none; 
}
div.aderezoselec4{
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
    z-index: 8;
    margin-top: -120px;
	margin-left: 12.5%;
	margin-right: 12.5%;
	width: 75%;
	height: 100px;
	background-image:none; 
}
div.button1{
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
	cursor: pointer;
}
div.button2{
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
    -webkit-transition:all 0.5s;
    	cursor: pointer;
}
div.button3{
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button4{
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button5{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button5e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button6{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button6e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button7{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button7e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button8{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button8e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button9{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button9e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button10{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button10e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button11{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button11e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button12{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button12e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button13{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button13e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button14{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button14e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button15{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button15e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button16{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button16e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button17{
	position: relative;
	z-index: 2;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button17e{
	position: relative;
	z-index: 1;
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -35px;
	opacity: 0;
	width: 70%;
	height: 35px;
	border-radius: 10px;
	border-width: 1px;
	-webkit-transition:all 0.5s;
		cursor: pointer;
}
div.button1:hover{
box-shadow: inset 0px 0px 20px  gray;
}
div.button2:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button3:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button4:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button5:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button5e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button6:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button6e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button7:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button7e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button8:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button8e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button9:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button9e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button10:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button10e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button11:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button11e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button12:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button12e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button13:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button13e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button14:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button14e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button15:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button15e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button16:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button16e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.button17:hover{
	box-shadow: inset 0px 0px 20px  gray;
}
div.button17e:hover{
	box-shadow: inset 0px 0px 20px  #FF5336;
}
div.cuenta{
	padding: .7% 0% 0% .2%;
	overflow: hidden;
	position: relative;
	opacity: 1;
	z-index: 50;
	margin-left: -12%;
	margin-top: -680px;
	float: right;
	line-height: 32px;
	font-size: 40px;
	height: 45px;
	width: 0%;
	text-align: left;	
	background-color: #2b2828;
	color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 1px;	
	-webkit-transition:opacity 3s, width 1s;
}

div#bienvenida{
	z-index: 1;
	position: relative;
text-align: left;
font-size: 160px;
float: left;
line-height: 150px;
margin-top: -670px;
margin-left: 2%;
width:40%;
height: 600px;
color:#f2f2f2;
-webkit-transition:all 1s;
}
div#titulo{
	padding: 0px 1% 0px 0px;
	position: relative;
	text-align: right;
	opacity: 0;
	margin-top: -700px;
	margin-left: 5%;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	width: 37%;		
	background-color: #2b2828;
	color: #f2f2f2;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-width: 1px;	
	-webkit-transition:margin-left 1s;	
}
div#avanzar{
	padding: .1% 0% 0% .5%;
	z-index: 50;
	overflow: hidden;
	position: relative;
	opacity: 0;
	float: right;
	margin-right:%;
	margin-top: -620px;
	height: 70px;
	font-size: 30px;
	line-height: 32px;
	width: 0%;		
	background-color: #2b2828;
	color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 1px;	
	-webkit-transition:opacity 3s, width 1s,box-shadow .3s;	
		cursor: pointer;
}
div#tituloaux{
	display: none;
	opacity: 0;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-size: 25px;
	border-radius: 10px;
	width: 90%;
	margin: 0% 5% 0% 5%;
	height: 50px;
	background-color: #f2f2f2;
	box-shadow: inset 0px 0px 20px  gray;
	border-width: 1px; 	
	border-style: solid;
	border-color: black;	
	-webkit-transition:all 1s;	
	z-index: 3;
}
div.cuentaaux{
	display: none;
	opacity: 0;
	float: left;
	margin:2% 2% 0% 2%;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-size: 25px;
	border-radius: 10px;
	background-color: #f2f2f2;
	box-shadow: inset 0px 0px 20px  gray;
	border-width: 1px; 	
	border-style: solid;
	border-color: black; 
	width: 20%;
	height: 50px;
	-webkit-transition:all 1s;	
	z-index: 2;
}
div#avanzaraux{
	line-height: 22px;
	display: none;
	opacity: 0;
	position: relative;
	margin:2% -35% 0% 0%;
	float: left;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-size: 25px;
	border-radius: 10px;
	width: 35%;
	height: 50px;
	background-color: #f2f2f2;
	box-shadow: inset 0px 0px 20px  gray;
	border-width: 1px; 	
	border-style: solid;
	border-color: black;
	-webkit-transition:all 1s;
	z-index: 2;
	cursor: pointer;

}
div#avanzar2aux{
	line-height: 22px;
	display: none;
	opacity: 0;
	position: relative;
	margin:2% -35% 0% 0%;
	float: left;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-size: 25px;
	border-radius: 10px;
	width: 35%;
	height: 50px;
	background-color: #f2f2f2;
	box-shadow: inset 0px 0px 20px  gray;
	border-width: 1px; 	
	border-style: solid;
	border-color: black;
	-webkit-transition:all 1s;
	z-index: 2;
	cursor: pointer;

}
div#avanzar3aux{
	line-height: 22px;
	display: none;
opacity: 0;	
	position: relative;
	margin:2% 2% 0% 0%;
	float: left;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-size: 25px;
	border-radius: 10px;
	width: 35%;
	height: 50px;
	background-color: #f2f2f2;
	box-shadow: inset 0px 0px 20px  gray;
	border-width: 1px; 	
	border-style: solid;
	border-color: black;
	-webkit-transition:all 1s;	
	z-index: 2;
	cursor: pointer;
}

div#regresar1aux{
	display: none;
	opacity: 0;
	position: relative;
	margin:2% -35% 0% 0%;
	float: left;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-size: 25px;
	border-radius: 10px;
	width: 35%;
	height: 50px;
	background-color: #f2f2f2;
	box-shadow: inset 0px 0px 20px  gray;
	border-width: 1px; 	
	border-style: solid;
	border-color: black;
	-webkit-transition:all 1s;
	z-index: 2;	
	cursor: pointer;
}

div#regresar2aux{
	display: none;
	opacity: 0;
	position: relative;
	margin:2% -35% 0% 0%;
	float: left;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-size: 25px;
	border-radius: 10px;
	width: 35%;
	height: 50px;
	background-color: #f2f2f2;
	box-shadow: inset 0px 0px 20px  gray;
	border-width: 1px; 	
	border-style: solid;
	border-color: black;
	-webkit-transition:all 1s;
	z-index: 2;	
	cursor: pointer;
}

div#regresar3aux{
	display: none;
opacity: 0;	
	position: relative;
	margin:2% 0% 0% 0%;
	float: left;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-size: 25px;
	border-radius: 10px;
	width: 35%;
	height: 50px;
	background-color: #f2f2f2;
	box-shadow: inset 0px 0px 20px  gray;
	border-width: 1px; 	
	border-style: solid;
	border-color: black;
	-webkit-transition:all 1s;	
	z-index: 2;
	cursor: pointer;
}
div.holi{

}
div#avanzar2{
	padding: .1% 0% 0% .5%;
	z-index: 50;
	overflow: hidden;
	position: relative;
	opacity: 0;
	float: right;
	margin-right:%;
	margin-top: -620px;
	height: 70px;
	font-size: 30px;
	line-height: 32px;
	width: 0%;		
	background-color: #2b2828;
	color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 1px;	
	-webkit-transition:opacity 3s, width 1s,box-shadow .3s;	
		cursor: pointer;
}
div#avanzar3{
	padding: .1% 0% 0% .5%;
	z-index: 50;
	overflow: hidden;
	position: relative;
	opacity: 0;
	float: right;
	margin-right:%;
	margin-top: -620px;
	height: 70px;
	font-size: 30px;
	line-height: 32px;
	width: 0%;		
	background-color: #2b2828;
	color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 1px;	
	-webkit-transition:opacity 3s, width 1s,box-shadow .3s;	
		cursor: pointer;
}

div.on{
	opacity: 1;
}
div#regresar1{
	padding: .7% 0% 0% .5%;
	overflow: hidden;
	position: relative;
	opacity: 0;
	z-index: 50;
	margin-left: -12%;
	margin-top: -520px;
	float: right;
	line-height: 32px;
	font-size: 30px;
	height: 45px;
	width: 0%;
	text-align: left;	
	background-color: #2b2828;
	color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 1px;	
	-webkit-transition:opacity 3s, width 1s,box-shadow .3s;	
		cursor: pointer;	
}
div#regresar2{
	padding: .7% 0% 0% .5%;
	z-index: 50;
	overflow: hidden;
	position: relative;
	opacity: 0;
	float: right;
	margin-top: -520px;
	margin-left: -12%;
	line-height: 32px;
	font-size: 30px;
	height: 45px;
	width: 0%;
	text-align: left;	
	background-color: #2b2828;
	color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 1px;	
	-webkit-transition:opacity 3s, width 1s,box-shadow .3s;		
	cursor: pointer;
}
div#regresar3{
	padding: .7% 0% 0% .5%;
	z-index: 50;
	overflow: hidden;
	position: relative;
	opacity:0;
	float: right;
	margin-top: -520px;
	line-height: 32px;
	font-size: 30px;
	height: 45px;
	width: 0%;
	text-align: left;	
	background-color: #2b2828;
	color: #f2f2f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 1px;	
	-webkit-transition:opacity 3s, width 1s,box-shadow .3s;	
	cursor: pointer;	
}
div#avanzar:hover{
	box-shadow: inset -15px 0px 20px  #f2f2f2;
}
div#avanzar2:hover{
	box-shadow: inset -15px 0px 20px  #f2f2f2;
}
div#avanzar3:hover{
	box-shadow: inset -15px 0px 20px  #f2f2f2;
}
div#regresar1:hover{
	box-shadow: inset -15px 0px 20px  #f2f2f2;
}
div#regresar2:hover{
	box-shadow: inset -15px 0px 20px  #f2f2f2;
}
div#regresar3:hover{
	box-shadow: inset -15px 0px 20px  #f2f2f2;
}

@media (max-width: 1200px){
	div#orden{
     margin:170px 2% 0px 43%;
     width: 55%;
	}
    div.button1{
    	font-size: 25px;
    }
    div.button2{
    	font-size: 25px;
    }
	div.button3{
    	font-size: 25px;
    }
    div.button4{
    	font-size: 25px;
    }	
    div.butto5{
    	font-size: 25px;
    }
    div.button5e{
    	font-size: 25px;
    }
    div.button6{
    	font-size: 25px;
    }
    div.button6e{
    	font-size: 25px;
    }
    div.button7{
    	font-size: 25px;
    }
    div.button7e{
    	font-size: 25px;
    }
    div.button8{
    	font-size: 25px;
    }
    div.button8e{
    	font-size: 25px;
    }
    div.button9{
    	font-size: 25px;
    }
    div.button9e{
    	font-size: 25px;
    }
    div.button10{
    	font-size: 25px;
    }
    div.button10e{
    	font-size: 25px;
    }
    div.button11{
    	font-size: 25px;
    }
    div.button11e{
    	font-size: 25px;
    }
    div.button12{
    	font-size: 25px;
    }
    div.button12e{
    	font-size: 25px;
    }
    div.button13{
    	font-size: 25px;
    }
    div.button13e{
    	font-size: 25px;
    }
    div.button14{
    	font-size: 25px;
    }
    div.button14e{
    	font-size: 25px;
    }
    div.button15{
    	font-size: 25px;
    }
    div.button15e{
    	font-size: 25px;
    }
    div.button16{
    	font-size: 25px;
    }
    div.button16e{
    	font-size: 25px;
    }
    div.button17{
    	font-size: 25px;
    }
    div.button17e{
    	font-size: 25px;
    }

}
@media (max-width:1000px ){
	div#orden{
     margin: 800px 15% 0px 15%;
     width: 70%;
	}
	div#bienvenida{
		font-size: 100px;
		line-height: 100px;
	}
	section#pan{
		width: 80%;
		margin-left: 4%;
	}
    section#jamon{
		width: 80%;
		margin-left: 4%;
	}
	section#vegetales{
		width: 80%;
		margin-left: 4%;
	}
	section#aderesos{
		width: 80%;
		margin-left: 4%;
	}
	div.button1{
    	font-size: 30px;
    }
    div.button2{
    	font-size: 30px;
    }
	div.button3{
    	font-size: 30px;
    }
    div.button4{
    	font-size: 30px;
    }	
    div.butto5{
    	font-size: 30px;
    }
    div.button5e{
    	font-size: 30px;
    }
    div.button6{
    	font-size: 30px;
    }
    div.button6e{
    	font-size: 30px;
    }
    div.button7{
    	font-size: 30px;
    }
    div.button7e{
    	font-size: 30px;
    }
    div.button8{
    	font-size: 30px;
    }
    div.button8e{
    	font-size: 30px;
    }
    div.button9{
    	font-size: 30px;
    }
    div.button9e{
    	font-size: 30px;
    }
    div.button10{
    	font-size: 30px;
    }
    div.button10e{
    	font-size: 30px;
    }
    div.button11{
    	font-size: 30px;
    }
    div.button11e{
    	font-size: 30px;
    }
    div.button12{
    	font-size: 30px;
    }
    div.button12e{
    	font-size: 30px;
    }
    div.button13{
    	font-size: 30px;
    }
    div.button13e{
    	font-size: 30px;
    }
    div.button14{
    	font-size: 30px;
    }
    div.button14e{
    	font-size: 30px;
    }
    div.button15{
    	font-size: 30px;
    }
    div.button15e{
    	font-size: 30px;
    }
    div.button16{
    	font-size: 30px;
    }
    div.button16e{
    	font-size: 30px;
    }
    div.button17{
    	font-size: 30px;
    }
    div.button17e{
    	font-size: 30px;
    }
}
@media (max-width: 800px){
	div#orden{
     margin:800px 5% 0px 5%;
     width: 90%;
	}
	div.cuenta{
		font-size: 30px;
	}
	div#avanzar{
		font-size: 20px;
	}
	div#avanzar2{
		font-size: 20px;
	}
	div#avanzar3{
		font-size: 20px;
	}
    div#regresar1{
    	font-size: 20px;
    }
    div#regresar2{
    	font-size: 20px;
    }
    div#regresar3{
    	font-size: 20px;
    }
		
}
@media (max-width: 550px){
div#orden{
	display: none;
}
div#bienvenida{
		font-size: 70px;
	}
	div.button1{
    	font-size: 25px;
    }
    div.button2{
    	font-size: 25px;
    }
	div.button3{
    	font-size: 25px;
    }
    div.button4{
    	font-size: 25px;
    }	
    div.butto5{
    	font-size: 25px;
    }
    div.button5e{
    	font-size: 25px;
    }
    div.button6{
    	font-size: 25px;
    }
    div.button6e{
    	font-size: 25px;
    }
    div.button7{
    	font-size: 25px;
    }
    div.button7e{
    	font-size: 25px;
    }
    div.button8{
    	font-size: 25px;
    }
    div.button8e{
    	font-size: 25px;
    }
    div.button9{
    	font-size: 25px;
    }
    div.button9e{
    	font-size: 25px;
    }
    div.button10{
    	font-size: 25px;
    }
    div.button10e{
    	font-size: 25px;
    }
    div.button11{
    	font-size: 25px;
    }
    div.button11e{
    	font-size: 25px;
    }
    div.button12{
    	font-size: 25px;
    }
    div.button12e{
    	font-size: 25px;
    }
    div.button13{
    	font-size: 25px;
    }
    div.button13e{
    	font-size: 25px;
    }
    div.button14{
    	font-size: 25px;
    }
    div.button14e{
    	font-size: 25px;
    }
    div.button15{
    	font-size: 25px;
    }
    div.button15e{
    	font-size: 25px;
    }
    div.button16{
    	font-size: 25px;
    }
    div.button16e{
    	font-size: 25px;
    }
    div.button17{
    	font-size: 25px;
    }
    div.button17e{
    	font-size: 25px;
    }
}
@media (max-width: 500px){
	div#bienvenida{
		margin: -870px 0% 0px 0%;
		width: 5%;
			}
	div.cuenta{
		display: none;
	}
	div#avanzar{
		display: none;
	}
	div#avanzar2{
		display: none;
	}
	div#avanzar3{
		display: none;
	}
    div#regresar1{
    	display: none;
    }
    div#regresar2{
    	display: none;
    }
    div#regresar3{
    	display: none;
    }
    div.cuentaaux{
		display: block;
	}
	div#tituloaux{
		display: block;
	}
    div#avanzaraux{
		display: block;
	}
	div#avanzar2aux{
		display: block;
	}
	div#avanzar3aux{
		display: block;
	}
    div#regresar1aux{
    	display: block;
    }
    div#regresar2aux{
    	display: block;
    }
    div#regresar3aux{
    	display: block;
    }
    section#pan{
    	margin-top: 17%;
		width: 95%;
		margin-left: 2.5%;
	}
    section#jamon{
		width: 95%;
		margin-left: 2.5%;
	}
	section#vegetales{
		width: 95%;
		margin-left: 2.5%;
	}
	section#aderesos{
		width: 95%;
		margin-left: 2.5%;
	}
	div#avanzar{
		margin-right: 1%;
		border-radius: 10px;
		font-size: 15px;
	}
	div#avanzar2{
		margin-right: 1%;
		border-radius: 10px;
		font-size: 15px;
	}
	div#avanzar3{
		margin-right: 1%;
		border-radius: 10px;
		font-size: 15px;
	}
    div#regresar1{
    	margin-right: 1%;
    	border-radius: 10px;
    	font-size: 15px;
    }
    div#regresar2{
    	margin-right:1%;
    	border-radius: 10px;
    	font-size: 15px;
    }
    div#regresar3{
    	margin-right: 1%;
    	border-radius: 10px;
    	font-size: 15px;
    }
    td.normal{
    	font-size: 25px;
    }
    /*Cambiar tamaño de botones avanzar y regresar a 16% almenos*/
}
@media (max-width: 380px){
	div#bienvenida{
		font-size: 40px;
	}
	section#pan{
    	margin-top: 21%;
	}
	div.cuentaaux{
		font-size: 22px;
	}
	div#tituloaux{
		font-size: 20px;
	}
    div#avanzaraux{
		font-size: 20px;
	}
	div#avanzar2aux{
		font-size: 20px;
	}
	div#avanzar3aux{
		font-size: 20px;
	}
    div#regresar1aux{
    	font-size: 20px;
    }
    div#regresar2aux{
    	font-size: 20px;
    }
    div#regresar3aux{
    	font-size: 20px;
    }
    td.img{
    	display: none;
    }
}