 *{
	padding: 0px;
	margin: 0px;
}

/*Galeria Inicio*/

#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 190px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 35%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 20px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 22%;
	height: 75%;
	margin: -23% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 75%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}

/* Galeria Final */

/*********************************************************************************************************************
*********************************************************************************************************************/

/*Todas las imagenes Inicio*/
#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 20px auto;
	width: 35%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 15px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 20%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}

/*Todas las imagenes Final*/