*{
	margin: 0;
	padding: 0;
	font-family: Generica;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
  -webkit-text-stroke: .5px white;
  color:white;
}

section.sld{
	width: 100%;
	height:90%;
}
div.menu{
	opacity: 0;
	width: 95%;
	height: 80%;
	margin: 50px 2.5% 0px 2.5%;
	-webkit-transition: all 1s;
}
table.cien{
	width: 100%;
	height: 100%;
}
td.comida{
	width: 25%;	
	height: 100%;
	border-top-left-radius: 40px;
	border-top-right-radius:40px;
	background: linear-gradient(#f2f2f2,transparent);
}
div.comida1{
	width: 100%;
	height: 35%;
	background-image:url(../pictures/sandwich1.jpg); 
	background-repeat: no-repeat;
	background-size: 100%;
}
div.comida2{
	width: 100%;
	height:35%;
	background-image:url(../pictures/sandwich2.jpg); 
	background-repeat: no-repeat;
	background-size: 100%;
}
div.comida3{
	width: 100%;
	height:35%;
	background-image:url(../pictures/sandwich3.jpg); 
	background-repeat: no-repeat;
	background-size: 100%; 
}
div.comida4{
	width: 100%;
	height: 35%;
	background-image:url(../pictures/sandwich4.jpg); 
	background-repeat: no-repeat;
	background-size: 100%;
}
p.comida{
	font-size: 30px;
	color: white;
	text-align: center;
    -webkit-text-stroke: .5px white;
}
td#c1{
}
td#c2{
}
td#c3{
}
td#c4{}

.ancla{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 40px;
	padding: 10px 15px;
	border: solid #fff;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	-webkit-transition: all 1s;
}

section.banner{
	width: 100%;
	height:800px;
}


header{
	z-index: 100;
	margin-top: 0px;
	margin-right: 0%;
	margin-left: 0%;
	position: fixed;
	background-color: #2b2828;
	opacity: 0;
	width: 100%;
	height: 60px;
	-webkit-transition: all 3s;
}

nav{
	display: table;
	margin: auto;
	margin-top: 15px;
	height: 40px;
	
}

ul{
	display: none;
	float: left;
	list-style: none;
		
}

ul li{
	display:none;
	float: left;
	margin: 10px;
	padding: 2px;
	font-family: Perpetua Titling MT;
	font-size:20px;
}

ul a{
	color: white;
	text-decoration: none;
		
}
div.sigma2{
	background-image:url(../pictures/Logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -10px;
	width: 100px;
	height: 50px; 
	-webkit-transition:all 3s;
}
div.sus{
	background-image:url(../pictures/Logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -320px;
	margin-right: 35%;
	margin-left: 35%;
	width: 30%;
	height: 250px; 
	-webkit-transition:all 1s;
}
div.bienvenidos{
	/*background-color: red;*/
	opacity: 0;
    height: 100px;
    width: 50%;
    margin-top: -100px;
    margin-right: 50%;
    margin-left: 0%; 
	font-size:100px;
	text-align: center;
	-webkit-transition:all 1s;
	font-color: white;
}
div#bienvenidos2{
	line-height: 150px;
	opacity: 0;
	float: right;
    height: 250px;
    width: 50%;
	font-size:150px;
	display: block;
	text-align: center;
	-webkit-transition:all 1s;
}
div#bienvenidos02{
	margin-top: 30px;
    height: 250px;
    width: 100%;
	display: block;
	-webkit-transition:all 1s;
}
div#bienvenidos3{
	
	opacity: 0;
	float: left;
	margin-top: 10px;
    height: 250px;
    width: 20%;
    margin-left: 10%; 
	font-size:200px;
	display: block;
	text-align: center;
	-webkit-transition:all 1s;
}
p.sigma{
	color:#f2f2f2;
	font-size:90px;
	text-align: center;
	-webkit-transition:all 1s;
}
p.signo{
	font-size:300px;
	text-align: center;
}
p.texto{
	font-size:50px;
	text-align: right;
}
p.check{
	opacity: 0;
	font-size:50px;
	text-align: left;
	-webkit-transition:all 1s;
}
div.propuesta{
	margin-left: 0%;
	margin-right: 30%;
	height: 100px;
	width: 70%;
	opacity: 0;
	font-size:70px;
	text-align: center;
	color: white;

	-webkit-transition:all 1s;
}
div.espacio33{
	width: 100%;
	height: 200px;
}
div.espacio{
	width: 100%;
	height: 500px;
}
div.somos{

	opacity: 0;
    height:100px;
    width: 70%;
    margin-top: -200px;
    margin-right:10%;
    margin-left: 0%;
	font-size:90px;
	text-align: left;
	-webkit-transition:all 1s;
}
div.somos2{

	opacity: 0;
    height: 350px;
    width: 35%;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 60%; 
	font-size:350px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.somos3{

	opacity: 0;
    height: 150px;
    width: 35%;
    margin-top: -330px;
    margin-right: 0%;
    margin-left: 65%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.somos4{
	opacity: 0;
    height: 150px;
    width: 15%;
    margin-top: 20px;
    margin-right: 0%;
    margin-left: 85%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.somos5{

	opacity: 0;
    height: 150px;
    width: 37%;
    margin-top: -350px;
    margin-right: 21%;
    margin-left: 42%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.somos6{
	
	opacity: 0;
    height: 200px;
    overflow: hidden;
    width: 90%;
    margin-top: 25px;
    margin-right: 5%;
    margin-left: 5%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 3s;
}
div.duda{
	opacity: 0;
    height: 700px;
    width: 50%;
    margin-top: -50px;
    margin-right: 25%;
    margin-left: 25%; 
	font-size:125px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso1img{
	background-image: url(../pictures/paanblanco.png);
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 1;
    height:40%;
    width: 30%;
    margin-right: 70%;
    margin-left: 0%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso1{
	float: right;
	opacity: 0;
    height:200px;
    width: 40%;
    margin-top: -350px;
    margin-right: 0%;
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso1info{

	line-height: 100px;
	opacity: 0;
    height:200px;
    width: 50%;
    margin-top: -100px;
    float: right;
    margin-right: 5%;
	font-size:40px;
	text-align: left;
	-webkit-transition:all 1s;
}
div.paso2img{
	background-image: url(../pictures/jamon.jpg);
	background-size: 110%;
	background-repeat: no-repeat;
	opacity: 1;
    height:350px;
    width: 30%;
    margin-top: 150px;
    margin-right: 10%;
    margin-left: 60%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso2{
	opacity: 0;
    height:200px;
    width: 40%;
    margin-top: -350px;
    float: left;
    margin-left: 0%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso2info{
	line-height: 100px;
	opacity: 0;
    height:200px;
    width: 50%;
    margin-top: -80px;
    margin-left: 5%;
    float: left; 
	font-size:40px;
	text-align: right;
	-webkit-transition:all 1s;
}
div.paso3img{
	background-image: url(../pictures/aderozos.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0;
    height:300px;
    width: 30%;
    margin-top: 200px;
    margin-right: 70%;
    margin-left: 0%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso3{
	opacity: 0;
    height:200px;
    width: 40%;
    margin-top: -350px;
    float: right;
    margin-right: 0%;
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso3info{
	line-height: 100px;
	opacity: 0;
    height:200px;
    width: 50%;
    margin-top: -100px;
    margin-right: 5%;
    float: right;
	font-size:40px;
	text-align: left;
	-webkit-transition:all 1s;
}
div.paso4img{
	background-image: url(../pictures/bienbueno.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0;
    height:270px;
    width: 30%;
    margin-top: 150px;
    margin-right: 10%;
    margin-left: 60%; 
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso4{
	opacity: 0;
    height:200px;
    width: 40%;
    margin-top: -320px;
    margin-left: 0%; 
    float: left;
	font-size:150px;
	text-align: center;
	-webkit-transition:all 1s;
}
div.paso4info{
	line-height: 100px;
	opacity: 0;
    height:200px;
    width: 50%;
    margin-top: -100px;
    margin-left: 5%; 
    float: left;
	font-size:40px;
	text-align: right;
	-webkit-transition:all 1s;
}
a.sin{
text-decoration: none;
color:#f2f2f2;
}
div.sesion{
	margin-top: -200px;
    margin-bottom: 130px;
    margin-right: 30%;
    margin-left: 30%;
	height: 70px;
	width: 40%;
	border-style: solid;
	text-align: center;
	font-size: 50px;
	color:#f2f2f2;
	-webkit-transition: all 1s;
}

@media (max-width: 1500px){
	div.somos{
		font-size: 75px;
	}
    div.propuesta{
    	font-size: 60px;
    }
    div.sesion{
    	font-size: 45px;
    }
    div.paso2img{
       margin-top: 120px;
	}
}

@media (max-width: 1200px){
	a.ancla{
	margin-left:92%;
	}
    div.somos{
		font-size: 60px;
	}
	div.somos3{
		font-size: 120px;
	}
	div.somos4{
		font-size: 100px;
	}
    div.somos5{
		font-size: 100px;
	}
	div.duda{
		font-size: 100px;
	}
	div.paso1img{
		margin-top: -1150px;
       height: 35%;
       width: 25%;
	}
	div.paso1{
       font-size: 120px;
       margin-top: -300px;
	}
    div.paso1info{
    	font-size: 35px;
    	margin-top: -50px;
    }
	div.paso1img{
       margin-top: 100px;
	}
	div.paso2img{
       margin-top: 100px;
	}
	div.paso2{
		margin-top: -400px ;
      font-size: 120px;
       
	}
	div.paso2info{
		font-size: 35px;
    	margin-top: -50px;
       
	}
	div.paso3info{
		font-size: 35px;
    	margin-top: -50px;
       
	}
	div.paso3{
		font-size: 110px;
	}
	div.paso4{
		font-size: 110px;
	}
	div.paso4info{
		font-size: 35px;
    	margin-top: -50px;
       
	}
	div.sesion{
		font-size: 40px;
		height: 90px;
	}
}
@media (max-width: 1000px){
	a.ancla{
	margin-left:90%;
	padding-left:15px;
	padding-right:15px;
	padding-top: 15px;
	padding-bottom: 15px; 
	}
	p.sigma{
		font-size: 50px;
	}
	div.bienvenidos{
		font-size:50px ;
	}
	div#bienvenidos2{
		font-size: 90px
	}
	div#bienvenidos3{
		font-size: 250px;
	}
	div.somos{
		font-size: 50px;
	}
	div.somos2{
		font-size:225px;
	}
	div.somos3{
		font-size: 90px;
	}
	div.somos4{
		font-size: 90px;
	}
	div.somos5{
		font-size: 90px;
	}
	div.somos6{
		font-size: 90px;
	}
	div.duda{
		font-size: 90px;
	}
	div.paso3{
		font-size: 110px;
	}
	div.paso4{
		font-size: 110px;
	}
	div.sesion{
		font-size: 40px;
		height: 90px;
	}
}
@media (max-width: 800px ){
	div.bienvenidos{
		font-size:40px ;
	}
	div#bienvenidos2{
		font-size: 80px
	}
     td#c4{
     	display: none;
     }
     div.paso1{
		font-size: 90px;
	}
	div.somos5{
		font-size: 80px;
	}
	div.paso2{
		font-size: 90px;
	}
	div.paso3{
		font-size: 90px;
	}
	div.paso4{
		font-size: 90px;
	}
	div.paso1info{
		font-size: 25px;
	}
	div.paso2info{
		font-size: 25px;
	}
	div.paso3info{
		font-size: 25px;
	}
	div.paso4info{
		font-size: 25px;
	}
}
@media (max-width: 600px){	
	div.bienvenidos{
		font-size:30px ;
	}
	div#bienvenidos2{
		font-size: 70px
	}
	div.somos{
		font-size: 40px;
	}
	div.somos2{
		font-size:185px;
	}
	div.somos3{
		font-size: 60px;
	}
	div.somos4{
		font-size: 60px;
	}
	div.somos5{
		font-size: 50px;
	}
	div.somos6{
		font-size: 60px;
	}
	
     div.duda{
     	font-size: 70px;
     	margin-top:200px;
     }
     div.paso1img{
		width: 0%;
		height: 0%;
	}
	div.paso2img{
		width: 0%;
		height: 0%;
	}
	div.paso3img{
		width: 0%;
		height: 0%;
	}
	div.paso4img{
		width: 0%;
		height: 0%;
	}
	div.paso1{
		width: 70%;
		margin-top: -40px;
		font-size: 60px;
		margin-right: 30%;
		margin-left: 30%;
	}
	div.paso1info{
		width: 90%;
	}
	div.paso2{
		width: 70%;
		margin-top: 50px;
		font-size: 60px;
		margin-right: 30%;
		margin-left: 30%;
	}
	div.paso2info{
		width: 90%;
	}
	div.paso3{
		width: 70%;
		margin-top: 50px;
		font-size: 60px;
		margin-right: 30%;
		margin-left: 30%;
	}
	div.paso3info{
		width: 90%;
	}
	div.paso4{
		width: 70%;
		margin-top: 50px;
		font-size: 60px;
		margin-right: 30%;
		margin-left: 30%;
	}
	div.paso4info{
		width: 90%;
	}
	div.sesion{
		font-size: 30px;
		
	}
	div.duda{
		font-size: 60px;
	}
	div.propuesta{
    	font-size: 30px;
    }
}
@media (max-width: 500px){
	td#c3{
     	display: none;
     }
	a.ancla{
	margin-left:80%;
	}
	div.duda{
     	font-size: 50px;
     }
     p.check{
     	font-size:30px;
     }
}
@media (max-width: 400px){
	a.ancla{
	margin-left:75%;
	}
	div.somos{
		font-size: 20px;
	}
	div.somos2{
		font-size:185px;
	}
	div.somos3{
		font-size: 60px;
	}
	div.somos4{
		font-size: 60px;
	}
	div.somos5{
		font-size: 50px;
	}
	div.somos6{
		font-size: 60px;
	}
	div.sesion{
		font-size: 20px;
		
	}
}