*{
  margin: 0;
  padding: 0;
}

section#login_css{
      height: 60px;
      width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}
label.holo{
  margin-left: 2%;
}
section#enero{
  margin-right: 2%;
}
section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 80%;
  height: 50%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 150%;
}

#titulo{
  font-size: 252%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 202%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
margin-left: 0%;
width: 200%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}