header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#2b2828;
	top: 0px;
	font-family: Generica;
	margin-bottom:20px;
	-webkit-transition:all 1000ms ease;
}
 
.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1200px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
	-webkit-transition:all 1000ms ease;
	font-family: Generica;
}
 
header img {
	color:#2b2828;
	font-size:50px;
	line-height:200px;
	float:left;
	width: 200px;
	height: 140px;
	margin-left: 10px;
	margin-top: 10px;
	-webkit-transition:all 1000ms ease;
}
 
header nav {
	float:right;
	line-height:200px;
	-webkit-transition:all 1000ms ease;
}
 
header nav a {
	display:inline-block;
	color:white;
	text-decoration:none;
	padding:10px 10px;
	line-height:normal;
	font-size:20px;

	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition:all 1000ms ease;
}
header nav a:hover {
	background:black;
	color: #f2eeed;
	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition:all 1000ms ease;
}

.header2 {
	height:70px;
	-webkit-transition:all 4000ms ease;
	-o-transition:all 1000ms ease;
	transition:all 1000ms ease;
}
 
.header2 img {
	line-height:100px;
	font-size:30px;
	width: 110px;
	height: 70px;
	margin-left: 10px;
	margin-top: 10px;
	-webkit-transition:all 1000ms ease;
}
 
.header2 nav {
	line-height:100px;
	-webkit-transition:all 1000ms ease;
}

@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center; /*Centramos el menu y el logotipo*/
		line-height:100px;
		-webkit-transition:all 1000ms ease;
	}
 
	.header2 {
		height:auto;
		-webkit-transition:all 1000ms ease;
	}
 
	.header2 .logo,
	.header2 nav {
		line-height:50px;
		-webkit-transition:all 1000ms ease;
	}

}

