*{
	margin: 0;
	padding: 0;
	font-family: Generica;
}
body{
	background-color: #f2f2f2;
	color: white;
}
p#hl{
	font-size: 90px;
	text-align: center;
	margin-top: 40px;
	-webkit-transition: all 2s;
}
div#linea{
	background-color:#2b2828 ;
	-webkit-transition: all 2s;
}
div#linea2{
	background-color:white ;
	-webkit-transition: all 2s;
}
div#linea3{
	background-color:white ;
	-webkit-transition: all 2s;

}
p#decision{
	font-size: 80px;
	text-align: center;
	-webkit-transition: all 2s;
}
div#galeria{
	height: 400px;
	width: 40%;
	float: left;
	margin-left: 5%;
	margin-top: 40px;
	
}
div#crear{
	height: 400px;
	width: 40%;
	float: right;
	margin-right: 5%;
	margin-top: -208px;
	
}
div#o{
	height: 100px;
	margin-left:45%; 
	margin-right:45%;
	margin-top: 170px;
	width: 10%;
	
}
div#img1{
	margin-top: 10px;
    height: 200px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    -webkit-transition: all 2s;
    background-image: url(../pictures/bienbueno3.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
}
div.imgon{
    opacity: 1;
}
div.imgoff{
    opacity: 0;
}
a.off{	
		text-decoration: none;
		color:#2b2828;
}
p#sesion{
	text-decoration: none;
		color:#2b2828;
		opacity: 0;
text-align: right;
font-size: 20px;
-webkit-transition:all 1s;

}
div#img2{
	margin-top: 10px;
    height: 200px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-image: url(../pictures/paanblanco.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition: all 2s;
}
div.imgon2{
    opacity: 1;
}
div.imgoff2{
    opacity: 0;
}
p#o{
	font-size: 100px;
	text-align: center;
	-webkit-transition: all 2s;
}
p#gale{
	font-size: 50px;
	text-align: center;
	-webkit-transition: all 2s;
}
p#crea{
	font-size: 60px;
	text-align: center;
	line-height: 86px;
	-webkit-transition: all 2s;
}
p.displayon{
   color:transparent;
}
p.displayoff{
	color:white;
}
p.coloron{
	color:white;
	-webkit-text-stroke: 1px white;
}
div.lineaon{
	height: 2px;
	width:100%; 
}
div.lineaon3{
	height: 2px;
	width:100%;
	margin-right: 0%;
	margin-left: 0%; 
}
div.lineaon2{
	width: 100%;
	height: 200px;
	margin-top: -200px;
}
div.lineaoff{
	width:0%; 
}
div.lineaoff2{
	margin-right: 50%;
	margin-left: 50%;
	width:0%; 
}
div#botongale{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 20px;
	-webkit-transition:height 1s,width 1s ,color 0.5s,background-color 0.5s;
}
div.nulo{
	width: 0px;
	height: 0px;
	color:transparent;
}
div.eb1{
	height: 0px;
	width: 90px;
	border-style: solid;
	border-color: #f2f2f2;
	color:transparent;
}
div.eb2{
	height: 30px;
	width: 90px;
	border-style: solid;
	border-color: #f2f2f2;
	color:transparent;
}
div.eb3{
	height: 30px;
	width: 90px;
	border-style: solid;
	border-color: #f2f2f2;
	color:#f2f2f2;
}
#botongale:hover{
	background-color: #f2f2f2;
	color:black;
}
@media (min-width: 1800px){
	p#hl{
     font-size: 60px;
	}
	p#decision{
     font-size: 70px;
	}
}
