*{
	
}

th{
	border: none;
	width: 200px;
	border-right: solid;
	border-bottom: solid;
    -webkit-text-stroke: 0.5px white;
}

table{
	border: solid;
	margin: 0 auto;
	border-collapse: collapse;
	font-family: Generica;
	font-size: 24px;
	background-color: #2b2828;
}

td{
font-size: 40px;
}