/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 2000px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 55%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 18px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 23%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1900px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 60%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 18px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 23%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1750px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 60%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 18px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 23%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1600px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 65%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 18px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 23%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1450px){
#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 65%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 18px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 23%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}	
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1300px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 60%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 17px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 20%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1200px){
	/*Todas las imagenes Inicio*/
#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 65%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 17px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 20%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}

/*Todas las imagenes Final*/
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1000px){
#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 70%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 15px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 20%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 900px){
#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 10px auto;
	width: 65%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 15px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 20px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 20%;
	margin-bottom: 0px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 768px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 20px auto;
	margin-left: 15px;
	width: 105%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 17px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 15px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 22%;
	margin-bottom: 0px;
	font-size: 20px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 700px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 20px auto;
	margin-left: 15px;
	width: 105%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 17px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 15px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 20%;
	margin-bottom: 0px;
	font-size: 20px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 600px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 20px auto;
	margin-left: 15px;
	width: 105%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 16px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 15px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 17%;
	margin-bottom: 0px;
	font-size: 20px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 480px){
		#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 20px auto;
	margin-left: 15px;
	width: 105%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 15px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 15px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 15%;
	margin-bottom: 0px;
	font-size: 20px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 320px){
	#colecciones{
	background-color: rgba(0,0,0,0.7);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#colecciones a{
	color: black;
	text-decoration: none;
}
#colecciones .coleccion{
	margin: 20px auto;
	margin-left: 15px;
	width: 100%;
}
#colecciones .imagenes{
	display: inline-block;
	width: 60%;
	text-align: top;
	vertical-align: top;
	float: left;
}
#colecciones .imagenes img{
	width: 150%;
	display: block;
}
#colecciones .descripcion{
	background-color: white;
	display: inline-block;
	font-family: generica;
	font-size: 12px;
	width: 90%;
	height: 280px;
	margin-left: 0px;
	vertical-align: top;
	padding: 20px;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
#colecciones .descripcion .comprar{
	color: black;
	margin-top: 30px;
	font-size: 15px;
	text-align: center;
}
#colecciones .descripcion .cerrar{
	margin-top: 0px;
	font-size: 15px;
	text-align: right;
}
#colecciones a:hover{
	color: green;
}
#colecciones .descripcion .comprar .click{
	color:white;
	background-color: green;
	border-radius: 1px;
	padding: 2px;
}

input[type="radio"]{
	margin-left: 5%;
	margin-bottom: 0px;
	font-size: 25px;
}
input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;
  margin-left: 40%;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/