/*********************************************************************************************************************
*********************************************************************************************************************/

@media (max-width: 2000px) and (max-height: 1080px){
	section#login_css{
      height: 70px;
      width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}
label.holo{
  margin-left: 2%;
}
section#enero{
  margin-right: 2%;
}
section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}


section#registro_css{
  height: 70%;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 15px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
  -webkit-transition: all 0.3s;
}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
  -webkit-transition: all 0.3s;
}

article{
  font-family: generica;
  width: 80%;
  height: 60%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
  overflow: hidden;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 200%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 200%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 230%;
}

#titulo{
  font-size: 252%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 202%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
	margin-left: 20%;
height: 70%;
width: 120%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
}

section#loginimg{
background-position: 90% 20%;
  height: 100%;
  width: 30%;  
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1900px) and (max-height: 1080px){
	section#login_css{
      height: 60px;
      width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}
label.holo{
  margin-left: 2%;
}
section#enero{
  margin-right: 2%;
}
section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

section#loginimg{
  height: 472px;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}*{
  margin: 0;
  padding: 0;
}

section#login_css{
      height: 10%;
      width: 85%;  
      float: top;
      margin-left: 5%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}

section#registro_css{
  height: 70%;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 15px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
  -webkit-transition: all 0.3s;
}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
  -webkit-transition: all 0.3s;
}


article{
  font-family: generica;
  width: 80%;
  height: 70%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 200%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 200%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 230%;
}

#titulo{
  font-size: 252%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 202%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
width: 170%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1750px) and (max-height: 1050px){
	section#login_css{
      height: 60px;
     width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}
label.holo{
  margin-left: 2%;
}
section#enero{
  margin-right: 2%;
}
section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

section#loginimg{
  height: 472px;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}*{
  margin: 0;
  padding: 0;
}

section#login_css{
      height: 10%;
      width: 85%;  
      float: top;
      margin-left: 5%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}

section#registro_css{
  height: 70%;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 15px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #2b2828;
  box-shadow: 0 0 5px 1px #969696;

}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 80%;
  height:70%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
  overflow: hidden;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 200%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 200%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 230%;
}

#titulo{
  font-size: 252%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 202%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
width: 190%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1600px) and (max-height: 1000px){
	section#login_css{
      height: 60px;
      width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}
label.holo{
  margin-left: 2%;
}
section#enero{
  margin-right: 2%;
}
section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

section#loginimg{
  height: 472px;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}*{
  margin: 0;
  padding: 0;
}

section#login_css{
      height: 10%;
      width: 85%;  
      float: top;
      margin-left: 5%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}

section#registro_css{
  height: 70%;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 15px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}


input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}


article{
  font-family: generica;
  width: 80%;
  height: 60%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
  overflow: hidden;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 150%;
}

#titulo{
  font-size: 252%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 202%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
width: 200%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1450px) and (max-height: 1000px){
	section#login_css{
      height: 60px;
      width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}
label.holo{
  margin-left: 2%;
}
section#enero{
  margin-right: 2%;
}
section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

section#loginimg{
  height: 472px;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}*{
  margin: 0;
  padding: 0;
}

section#login_css{
      height: 10%;
      width: 85%;  
      float: top;
      margin-left: 5%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}

section#registro_css{
  height: 70%;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 15px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
-webkit-transition: all 0.3s;
}


input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
-webkit-transition: all 0.3s;
}


article{
  font-family: generica;
  width: 80%;
  height: 60%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
  overflow: hidden;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 150%;
}

#titulo{
  font-size: 252%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 202%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
	margin-left: 0%;
height: 70%;
width: 200%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1300px) and (max-height: 700px){
	section#login_css{
      height: 60px;
      width: 90%;  
      float: top;
      margin-left: 5%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}
label.holo{
  margin-left: 2%;
}
section#enero{
  margin-right: 2%;
}
section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}



input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
-webkit-transition: all 0.3s;
}



input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
-webkit-transition: all 0.3s;
}


article{
  font-family: generica;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
  overflow: hidden;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 150%;
}

#titulo{
  font-size: 252%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 202%;
  float: left;
  font-style: bold;
}
#titulo3{
  font-size: 252%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
margin-left: 0%;
width: 200%
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1200px) and (max-height: 700px){
	/*Todas las imagenes Inicio*/
section#login_css{
      height: 60px;
      width: 100%;
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}

label.holo{
  margin-left: 2%;
}
section#enero{
  margin-right: 2%;
}

section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}


input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 80%;
  height: 75%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
  overflow: hidden;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 150%;
}

#titulo{
  font-size: 252%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 182%;
  float: left;
  font-style: bold;
}
#titulo3{
  font-size: 252%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
margin-left: 0%;
width: 200%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
/*Todas las imagenes Final*/
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1000px) and (max-height: 700px){
	section#login_css{
      height: 60px;
      width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}

section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 95%;
  height: 70%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 130%;
}

#titulo{
  font-size: 202%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 182%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
width: 220%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 900px) and (max-height: 600px){
	section#login_css{
      height: 60px;
      width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}

section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}


input#hola{
	width: 20%;
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 90%;
  height: 80%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
  overflow: hidden;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 110%;
}

#titulo{
  font-size: 182%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 162%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
width: 220%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-right: 18%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 768px) and (max-height: 600px){
	section#login_css{
      height: 60px;
      width: 100%;  
      margin-left: 0%;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0
}

section#registro_css{
  height: 472px;
      width: 40%;  
    float: right;
  margin-right: 5%;
  text-align: left;
  padding: 20px 0px 0px 10px;
    border-style: bold;
  border-width: 5px;
  border-left: solid 4px #c0c0c0
}
input#hola{
	width: 20%;
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 95%;
  height: 80%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
  overflow: hidden;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 110%;
}

#titulo{
  font-size: 182%;
  float: left;
  font-style: bold;
}

#titulo2{
  font-size: 162%;
  float: left;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
}

#panlogimg{
height: 70%;
width: 220%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 20px 0px 0px 0px;
float: left;
}

section#loginimg{
  height: 100%;
  width: 20%;  
  float: left;
  margin-left: -4%;
  text-align: left;
  padding: 20px 0px 50px 65px;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 700px){
		section#login_css{
      height: 100px;
      width: 90%;  
      float: left;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0;
  display: block;
}
label.holo{
	margin-left: 40%;
}

section#registro_css{
  height: 35%;
      width: 98%;
  text-align: left;
    background-color:;
    float: left;
    border-left:solid 4px white;
}
section#enero{
	float: left;
	margin-right: 15%;
	margin-top: 2%;
}
label#holi{
}
input#hola{
	width: 20%;
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 95%;
  height: 160%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 110%;
}

#titulo{
  font-size: 182%;
  float: left;
  font-style: bold;
  display: block;
}

#titulo2{
  font-size: 162%;
  font-style: bold;
  margin-left: 20%;
}

#titulo3{
  font-size: 182%;
  text-align: center;
  margin-left: 40%;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
  margin-left: 20%;
}
#panlogimg{
	opacity: 0;
}
section#loginimg{
height: 40%;
width: 90%;
margin-left: 0%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 90% 80%;
background-position: 50% 30%;
background-repeat: no-repeat;
border
  background-color: blue;
  border-bottom: solid 4px #c0c0c0;
}

}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 600px){
	section#login_css{
      height: 100px;
      width: 98%;  
      float: left;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0;
  margin-left: 0%;
}
label.holo{
	margin-left: 35%;
}

section#registro_css{
  height: 35%;
      width: 98%;
  text-align: left;
    background-color:;
    float: left;
    border-left:solid 4px white;
    margin-left: -5%;
}
section#enero{
	float: left;
	margin-right: 15%;
	margin-top: 2%;
}
label#holi{
}
input#hola{
	width: 20%;
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 95%;
  height: 160%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 110%;
}

#titulo{
  font-size: 182%;
  float: left;
  font-style: bold;
  display: block;
}

#titulo2{
  font-size: 162%;
  font-style: bold;
  margin-left: 20%;
}

#titulo3{
  font-size: 182%;
  text-align: center;
  margin-left: 40%;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
  margin-left: 20%;
}
#panlogimg{
	opacity: 0;
}

section#loginimg{
height: 40%;
width: 88%;
margin-left: 0%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 90% 80%;
background-position: 50% 30%;
background-repeat: no-repeat;
border
  background-color: blue;
  border-bottom: solid 4px #c0c0c0;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 480px){
	section#login_css{
      height: 125px;
      width: 97.5%;  
      float: left;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0;
  margin-left: 0%;
}
label.holo{
	margin-left: 35%;
}

section#registro_css{
  height: 35%;
      width: 98%;
  text-align: left;
    background-color:;
    float: left;
    border-left:solid 4px white;
    margin-left: -10%;
}
section#enero{
	float: left;
	margin-right: 15%;
	margin-top: 2%;
}
input#hola{
	width: 20%;
}
input#holi{
	width: 15%;
	display: block;
	margin-left: 54%;
	margin-top: 5%;
}

input[type="text"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="password"]{
  padding: 0.8%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 95%;
  height: 180%;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 110%;
}

#titulo{
  font-size: 182%;
  float: left;
  font-style: bold;
  display: block;
}

#titulo2{
  font-size: 162%;
  font-style: bold;
  margin-left: 20%;
}

#titulo3{
  font-size: 182%;
  text-align: center;
  margin-left: 40%;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
  margin-left: 20%;
}
#panlogimg{
	opacity: 0;
}

section#loginimg{
height: 35%;
width: 88%;
margin-left: 0%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 90% 80%;
background-position: 50% 30%;
background-repeat: no-repeat;
border
  background-color: blue;
  border-bottom: solid 4px #c0c0c0;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 320px){
	section#login_css{
      height: 175px;
      width: 96%;  
      float: left;
      text-align: right;
      padding: 20px 10px 0px 0px;
  border-style: bold;
  border-width: 5px;
  border-bottom: solid 4px #c0c0c0;
  margin-left: 0%;
}
label.holo{
	margin-left: 30%;
}

section#registro_css{
  height: 35%;
      width: 98%;
  text-align: left;
    background-color:;
    float: left;
    border-left:solid 4px white;
    margin-left: -20%;
}
section#enero{
	float: left;
	margin-right: 5%;
	margin-top: 2%;
}
label#hole{
	margin-left: 57%;
}
input#hola{
	width: 50%;
	display: block;	
	margin-left: 60%;
}
input#holi{
	width: 30%;
	display: block;
	margin-left: 67%;
	margin-top: 5%;
}

input[type="text"]{
  padding: 0.8%;
  width: 120%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="password"]{
  padding: 0.8%;
    width: 120%;
  border: solid 2px #2b2828;
  transition: box-shadow 0.3s, border 0.3s;

}

article{
  font-family: generica;
  width: 95%;
  height: 975px;
  border-radius: 20px;
  background-color: white;
  margin: auto auto;
}

input[type="submit"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;

}

input[type="submit"]:focus,
input[type="submit"].focus {
  border-bottom: solid 2px #2b2828;

}

input[type="reset"] {
  padding: 0.8%;
  border: none;
  border-bottom: solid 2px #2b2828;
  font-family: generica;
  font-color: black;
  font-size: 120%;


}
input[type="reset"]:focus,
input[type="reset"].focus {
  border-bottom: solid 2px #2b2828;
}

label{
  font-size: 110%;
}

#titulo{
  font-size: 182%;
  float: left;
  font-style: bold;
  display: block;
}

#titulo2{
  font-size: 122%;
  margin-top: 5%;
  font-style: bold;
  margin-left: 45%;
}

#titulo3{
  font-size: 182%;
  text-align: center;
  margin-left: 45%;
  font-style: bold;
}

body{
  background-image: url(../pictures/tabla.jpg);
  background-size: 1600px;
}

table{
  border-spacing: 10px;
  margin-left: 20%;
}
#panlogimg{
	opacity: 0;
}
section#loginimg{
height: 30%;
width: 77%;
margin-left: 0%; 
background-image: url(../pictures/loginpan.jpg);
background-size: 90% 80%;
background-position: 50% 30%;
background-repeat: no-repeat;
border
  background-color: blue;
  border-bottom: solid 4px #c0c0c0;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/