/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 2000px){
	#galeria{
	margin-top: 4%;
	margin-left: 5%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 280px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 40%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 30px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 18%;
	height: 70%;
	margin: -20% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 75%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1900px){
	#galeria{
	margin-top: 4%;
	margin-left: 5%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 280px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 40%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 30px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 20%;
	height: 70%;
	margin: -20% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 75%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}
	
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1750px){
	#galeria{
	margin-top: 4%;
	margin-left: 5%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 280px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 40%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 30px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 20%;
	height: 70%;
	margin: -22% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 75%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1600px){
	#galeria{
	margin-top: 4%;
	margin-left: 5%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 260px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 40%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 25px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 20%;
	height: 70%;
	margin: -22% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 75%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1450px){
	#galeria{
	margin-top: 4%;
	margin-left: 5%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 250px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 40%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 25px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 20%;
	height: 70%;
	margin: -23% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 75%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1300px){

	#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 190px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 35%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 20px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 22%;
	height: 75%;
	margin: -22% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 75%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1200px){

	/*Galeria Inicio*/

#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 190px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 35%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 20px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 22%;
	height: 75%;
	margin: -23% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 75%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}

/* Galeria Final */
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 1000px){
	
	#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 190px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 35%;
	margin: 10px;
	float: left;
	overflow: hidden;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 20px;
	opacity: 0;
	margin-top: 0%;
	text-align: left;
	word-wrap: break-word;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover p{
	font-family: generica;
	color: green;
	word-wrap: break-word;
	opacity: 1;
	-webkit-text-stroke: 1px green;
	-webkit-transition: all 1s;
}

#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 22%;
	height: 60%;
	margin: -22% -2%;
	-webkit-transition: all 1.5s;
}

#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 22%;
	height: 60%;
	margin: -21% -5%;
	-webkit-transition: all 1.2s;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center center, 0 0;
	background-size: 100%;
	-webkit-transition: all 1s;	
}

#galeria a .trabajos:hover{
	background-position: 120px;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover{
	-webkit-transition: all 1s;
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 900px){

	#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 305px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 70%;
	margin: 10px;
	float: left;
	overflow: hidden;

}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 20px;
	opacity: 0;
	margin-top: 0%;
	text-align: center;
	word-wrap: break-word;
	color: green;
	-webkit-text-stroke: 1px green;
}
#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 20%;
	height: 55%;
	margin: 8% 5%;
}
#galeria a .trabajos:hover div{
	float: left;
	margin: -13% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 20%;
	height: 55%;
	margin: 8% 5%;
}

#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center -50%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 768px){

	#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 270px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 70%;
	margin: 10px;
	float: left;
	overflow: hidden;

}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 20px;
	opacity: 1;
	margin-top: 0%;
	text-align: center;
	word-wrap: break-word;
	color: green;
	-webkit-text-stroke: 1px green;
}
#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 25%;
	height: 55%;
	margin: 8% 2%;
}
#galeria a .trabajos:hover div{
	float: left;
	margin: -13% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 25%;
	height: 55%;
	margin: 8% 2%;
	-webkit-transition: all 1.2s;
}
#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center -500%;
	background-size: 80%;
	-webkit-transition: all 1s;	
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 700px){

	#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 230px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 70%;
	margin: 10px;
	float: left;
	overflow: hidden;

}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 20px;
	opacity: 1;
	margin-top: 0%;
	text-align: center;
	word-wrap: break-word;
	color: green;
	-webkit-text-stroke: 1px green;
}
#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 25%;
	height: 55%;
	margin: 8% 2%;
}
#galeria a .trabajos:hover div{
	float: left;
	margin: -13% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 25%;
	height: 55%;
	margin: 8% 2%;
	-webkit-transition: all 1.2s;
}
#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 600px){

	#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 230px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 70%;
	margin: 10px;
	float: left;
	overflow: hidden;

}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 20px;
	opacity: 1;
	margin-top: 0%;
	text-align: center;
	word-wrap: break-word;
	color: green;
	-webkit-text-stroke: 1px green;
}
#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 25%;
	height: 55%;
	margin: 8% 2%;
}
#galeria a .trabajos:hover div{
	float: left;
	margin: -13% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 25%;
	height: 55%;
	margin: 8% 2%;
	-webkit-transition: all 1.2s;
}
#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center -100%;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 480px){

	#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 200px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 70%;
	margin: 10px;
	float: left;
	overflow: hidden;

}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 18px;
	opacity: 1;
	margin-top: 0%;
	text-align: center;
	word-wrap: break-word;
	color: green;
	-webkit-text-stroke: 1px green;
}
#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 25%;
	height: 55%;
	margin: 7% 0%;
}
#galeria a .trabajos:hover div{
	float: left;
	margin: -13% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 25%;
	height: 55%;
	margin: 7% 0%;
	-webkit-transition: all 1.2s;
}
#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 90%;
	-webkit-transition: all 1s;	
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/

@media screen and (max-width: 320px){

	#galeria{
	margin-top: 4%;
	margin-left: 10%;
	margin-right: -20%;
	margin-bottom: 0px;
}
#galeria a{
	color: black;
	text-decoration: none;
}
#galeria a .trabajos{
	border: solid 5px black;
	height: 200px;
	margin-bottom: 20%;
	padding: 1% 1% 1% 1%;
	width: 70%;
	margin: 10px;
	float: left;
	overflow: hidden;

}
#galeria a .trabajos p {
	font-family: generica;
	font-size: 18px;
	opacity: 1;
	margin-top: 5%;
	text-align: center;
	word-wrap: break-word;
	color: green;
	-webkit-text-stroke: 1px green;
}
#galeria a .trabajos div{
	float: left;
	margin: -13% 0% 0% 0%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos div img{
	width: 40%;
	height: 55%;
	margin: 5% 0%;
}
#galeria a .trabajos:hover div{
	float: left;
	margin: -1% 0% 0% 8%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos:hover div img{
	width: 40%;
	height: 55%;
	margin: 5% 0%;
	-webkit-transition: all 1.2s;
}
#galeria a .trabajos.pan1{
	background: url(../pictures/sandwich1.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a .trabajos.pan2{
	background: url(../pictures/sandwich2.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;
}
#galeria a  .trabajos.pan3{
	background: url(../pictures/sandwich3.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan4{
	background: url(../pictures/sandwich4.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan5{
	background: url(../pictures/sandwich5.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan6{
	background: url(../pictures/sandwich6.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan7{
	background: url(../pictures/sandwich7.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan8{
	background: url(../pictures/sandwich8.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan9{
	background: url(../pictures/sandwich9.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan10{
	background: url(../pictures/sandwich10.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan11{
	background: url(../pictures/sandwich11.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan12{
	background: url(../pictures/sandwich12.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan13{
	background: url(../pictures/sandwich13.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan14{
	background: url(../pictures/sandwich14.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan15{
	background: url(../pictures/sandwich15.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
#galeria a  .trabajos.pan16{
	background: url(../pictures/sandwich16.jpg), white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	-webkit-transition: all 1s;	
}
}

/*********************************************************************************************************************
*********************************************************************************************************************/