*{
  margin: 0;
  padding: 0;
}

article{
  font-family: generica;
  width: 25%;
  height: 85%;
  background-color: white;
  margin-left: 40%;
}

label{
  font-size: 150%;
}

body{
  background-color: #2b2828;
  font-family: generica;
}

#logo{
  margin-left: 23%;
}

#encabezado{
  font-size: 150%;
  text-align: center;
}

h2{
  font-size: 50%;
}
h3{
  font-size: 63%
}

table{
  font-size: 120%;
  margin-left: 5%; 
}

table td{
    padding: 0% 5% 0% 5%;
    width: 10%;
}

input[type="submit"]{
  padding: 2%;
  float: left;
  margin-left: 23%;
  border: none;
  font-family: Generica;
  border-color: black;
  border-bottom-style: solid;
}