.form_container {
  width: 98%;
  height: 0%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition:all 2s;
  border: solid 5px #271e25;
}
.left, .right {
  position: absolute;
  top: 50%;
  font-size: 50px;
  height: 50px;
  border: none;
  color: #f2eeed;
  background-color: #271e25;
  border-radius: 100px;
  overflow: hidden;
  padding-bottom: 25px;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.form_container .slideContainer {
  white-space: nowrap;
}

.form_container .slideContainer .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}
@media (max-width: 2000px){
  .form_container{
        height: 60%;
        border: solid 5px #271e25;
   }
   .left, .right {
  position: absolute;
  top: 50%;
  font-size: 30px;
  height: 30px;
  border: none;
  color: #f2eeed;
  background-color: #271e25;
  border-radius: 100px;
    overflow: hidden;
  padding-bottom: 2px;
}
.form_container .slideContainer .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}
}
@media (max-width: 1500px){
   .form_container{
        height: 50%;
        border: solid 5px #271e25;
   }
   .left, .right {
  position: absolute;
  top: 50%;
  font-size: 30px;
  height: 30px;
  border: none;
  color: #f2eeed;
  background-color: #271e25;
  border-radius: 100px;
    overflow: hidden;
  padding-bottom: 2px;
}
.form_container .slideContainer .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}
}
@media (max-width:1250px){
  .form_container{
        height: 40%;
        border: solid 5px #271e25;
   }
   .left, .right {
  position: absolute;
  top: 50%;
  font-size: 20px;
  height: 20px;
  border: none;
  color: #f2eeed;
  background-color: #271e25;
  border-radius: 100px;
    overflow: hidden;
  padding-bottom: 2px;
}
.form_container .slideContainer .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}
}
@media (max-width: 1000px){
  .form_container{
        height: 30%;
        border: solid 5px #271e25;
   }
   .left, .right {
  position: absolute;
  top: 50%;
  font-size: 10px;
  height: 10px;
  border: none;
  color: #f2eeed;
  background-color: #271e25;
  border-radius: 100px;
    overflow: hidden;
  padding-bottom: 2px;
}
.form_container .slideContainer .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}
}
@media (max-width: 500px){
  .form_container{
        height: 20%;
        border: solid 5px #271e25;
   }
   .left, .right {
  position: absolute;
  top: 50%;
  font-size: 5px;
  height: 5px;
  border: none;
  color: #f2eeed;
  background-color: #271e25;
  border-radius: 100px;
    overflow: hidden;
  padding-bottom: 2px;
}
.form_container .slideContainer .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}
}